.container-overlay {
    position: fixed;
    max-width: 394px;
    width: 75%;
    height: 63px;
    background: linear-gradient(-57deg,
            rgba(38, 38, 38, 0.9) 0%,
            rgba(53, 53, 53, 0.8) 78%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}