.logo{
  background: var(--accent);
  border-radius: 0 0 14px 14px;
  padding: 20px;
  text-align: center;
  color:#fff;
}
.logo-icon{
position: absolute;
width: 69px;
height: 69px;
left: 16px;
top:10px;

background: url(.png);

}
.logo-text .brand{
  font-size:20px;
  font-weight:700;
}
.logo-text .welcome{
  font-size:13px;
  opacity:0.85;
}

