.navbar {
  display:flex;
  justify-content:space-between;
  width: 100%;
  align-items:center;
  background-color: var(--accent);
  color:#fff;
  padding:28px 24px;
  font-weight:600;
  z-index: 1;
}
.navbar .close{
  background:transparent;
  border:none;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}
