.nav-menu-header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: white;
}

.nav-menu-header button{
    font-size: 25px;
}

.container-nav-menu{
    z-index: 10;
    position: fixed;
    transform: translateX(-100px);
    animation: slideIn 10ms forwards ease;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: linear-gradient(90deg, #9392FF 39%, #A391FF 95%);
    border-radius: 0 15px 0 0;
}

.nav-links{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
    row-gap: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

img{
    width: 50px;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}