.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: var(--accent);
  color:#fff;
  padding:16px 24px;
  font-weight:600;
}
.navbar .close{
  background:transparent;
  border:none;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}
