.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #E6E6E6;
  border-radius: 50%;
  border-top-color: #C77DFF;
  animation: is-rotating 1s linear infinite;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(29, 29, 29, 0.4);
    z-index: 10;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}